li{
	list-style: none;
	margin-top: 5px;
}
.Fondo{
	background-image: url("../img/dance_7.jpg");
	height: 420px;
	margin-top: 35px;
	background-size: cover;
}
.Nosotros{
	height: 250px;
	width: 450px;
	background-color: black;
	opacity: .5;
	margin-left: 450px;
	margin-top: 85px;
}
.Pilares{
	background-image: url("../img/textura_1.jpg");
	background-size: cover;
	height: 250px;
}
.Instructores1{
	width: 150px;
	height: 130px;
}
#Frase{
	font-size: 35px;
	font-family: 'Playfair Display', serif;
}
.Contacto{
	background-image: url("../img/shoes_1.jpg");
	height: 450px;
}
.Contacto1{
	height: 30px;
	width: 400px;
	margin-left: 80px;
	margin-top: 15px;
}
.Contacto2{
	height: 200px;
	margin-top: 15px;
}
.Fin{
	background-color: #0A0A2A;
	height:	100px;
	background-size: cover;
}
.Nombre{

}
.Email{

}
.Mensaje{

}
.Enviar{
	width: 400px;
	height: 40px;
	background-color: #0A0A2A;
	color: white;
	margin-left: 80px;
	margin-top: 15px;
}